p{
text-align: left;
}
img{
    width: 300px;
  height: 464px;
    margin: 4pt;
}
.bio
{

  float: right;
  border-style: solid;
  background-color: black;
  color: white;
    border-color: black;
}

.dd{
     margin-left: 90pt;
  margin-top: -9pt;
    background-size: cover;
  background-repeat: no-repeat;
}
/*#bg
{
  background-repeat: no-repeat;


}*/




